doctype html
html(lang="en")
    head
        link(type='text/css', rel='stylesheet', href='/site.css')
        title Accounts registration
    body
        h1 SmartGecko - Pos activation
        h1 Activation code: #{data.activationCode}
        div Branch name: #{data.branchName}
        div Route: #{data.route}
        div Street Number: #{data.streetNumber}
        div Postal Code: #{data.postalCode}
        div Country: #{data.country}
        div Region: #{data.region}
        div City: #{data.city}