doctype html
html(lang="en")
    head
        link(type='text/css', rel='stylesheet', href='/site.css')
        title Accounts registration
    body
        h1 Accounts registration
        h1 Account: #{data.email}
        div givenName: #{data.givenName}
        div middleName: #{data.middleName}
        div familyName: #{data.familyName}
        div birthdate: #{data.birthdate}
        div picture: #{data.picture}
        div email: #{data.email}
        div preferredUsername: #{data.preferredUsername}
        div phoneNumber: #{data.phoneNumber}
        div password: #{data.password}
        div gender: #{data.gender}
        div locale: #{data.locale}
        div zoneinfo: #{data.zoneinfo}